<%- include(".././partials/header.ejs") %> 
    <div class="container d-flex justify-content-center">
        <div class="card mt-3 border-dark" style="width: 35rem;">
            <div class="card-body">
                <div class="col">
                    <h1>Tambah Data Mahasiswa</h1>
                    <form action="/mahasiswas" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nama</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                          </div>
                          <div class="mb-3">
                            <label for="npm" class="form-label">NPM</label>
                            <input type="text" class="form-control" id="npm" name="npm" required>
                          </div>
                          <div class="mb-3">
                            <label for="prodi" class="form-label">Prodi</label>
                            <select class="form-select" name="prodi" id="prodi" required>
                              <option value="Teknik Informatika">Teknik Informatika</option>
                              <option value="Teknik Spil">Teknik Sipil</option>
                              <option value="Teknik Mesin">Teknik Mesin</option>
                              <option value="Teknik Elektro">Teknik Elektro</option>
                              <option value="Arsitektur">Arsitektur</option>
                              <option value="Sistem Informasi">Sistem Informasi</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="umur" class="form-label">Umur</label>
                            <input type="number" class="form-control" id="umur" name="umur" required>
                          </div>
                          <div class="mb-3">
                            <label for="tempatTanggalLahir" class="form-label">Tempat Tanggal Lahir</label>
                            <input type="date" class="form-control" id="tempatTanggalLahir" name="tempatTanggalLahir" required>
                          </div>
                          <div class="mb-3">
                            <label for="alamat" class="form-label">Alamat</label>
                            <input type="text" class="form-control" id="alamat" name="alamat" required>
                          </div>
                          <div class="mb-3">
                            <label for="asalSekolah" class="form-label">Asal Sekolah</label>
                            <input type="text" class="form-control" id="asalSekolah" name="asalSekolah" required>
                          </div>
                          <div class="mb-3">
                            <label for="dosenakademik" class="form-label">Dosen Akademik</label>
                            <select class="form-select" name="dosenakademik" id="dosenakademik" required>
                              <% for(let dosen of dosenakademik) {  %>
                              <option value="<%= dosen.id %>"><%= dosen.name %></option>
                              <% } %>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary">Tambah</button>
                          <a href="/mahasiswas" class="btn btn-secondary">Kembali ke List Mahasiswa</a>
                    </form>
                </div>
            </div>
          </div>
    </div>
<%- include(".././partials/footer.ejs") %>